
 h1 {font-family: Verdana, Tahoma, sans-serif; 
    text-decoration: underline;
    text-align: center; 
    color: green;}
 
 h3 {font-family: Verdana, Tahoma, sans-serif;  ;
    font-style: italic;
    color: purple;}

 p  {font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: black;}
